* {
    box-sizing: border-box;
}
body {
    height: 100%;
    position: relative;
}
main {
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative; 
    padding-bottom: 100px;
}

.nav {
    background-color: grey;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.nav-button {
    margin: 5px;
}

.title-text {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
}
.contact-content {
    display: flex; 
    flex-direction: column;
    align-items: center;
}
.contact-text { 
    border: 2px grey solid;
    width: 70%;
    padding: 10px;
    background-color: lightgrey;
}

footer {
    text-align: center;
    background-color: grey;
    padding: 10px 0px 10px 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.fa {
    margin: 0px 10px 0px 10px;
}

@media screen and (min-width: 480px) {
    .contact-text {
        width: 70%;
        max-width: 500px;
    }
}

@media screen and (min-width: 800px) {
    .contact-text {
        width: 70%;
        max-width: 700px;
    }
}